.container{
    max-width: 1000px;
    height: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.container h1{
    font-size: 32px;
    text-transform: uppercase;
    font-weight: lighter;
    color: #e076d2;
    margin-bottom: 30px;
}
.container h1:hover{
    color: #eca7e3;
}
.container .card{
    height: 320px;
    width: 320px;
    background: #FFF;
    border-radius: 50%;
    border: solid 8px #929090;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: rotate 8s linear infinite;
    transition: 1.2s ease;
}
.container .card:hover{
    border-color: #e9b0e1;
    box-shadow: 0 0 30px #e9b0e1 , 0 0 60px #e076d2 , 0 0 100px #e076d2;
  
}
